.video {
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 2px;
    border-spacing: 10px;
}

.center {
    align-content: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
    padding: 10px;
}

p, span {
    text-indent: 50px;
    letter-spacing: 2px;
    text-emphasis-position: inherit;
    font-size: 20px;
    vertical-align: middle;
    color: #EEEEEE;
    padding: 10px;
}

.btn.btn-primary.my {
    font-size:20px;
    padding:10px;
    min-width: 4cm;
}

.my-align {
    margin-top: 20px;
    margin-bottom: 20px;
}

.select {
    max-width: 6cm;
}